{{define "head"}}
<meta charset="utf-8">
<title>一个真正的Crontab管理系统</title>
<link href="/static/img/favicon.ico" rel="Shortcut Icon" />
<link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/toastr-2.1.3/toastr.css" rel="stylesheet" />
<link href="/static/css/tree.css" rel="stylesheet" type="text/css" />
<link href="/static/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

<script src="/static/jquery-2.1.1/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/vue-2.2.2/vue.min.js"></script>
<script src="/static/axios-0.18.0/axios.min.js"></script>
<script src="/static/toastr-2.1.3/toastr.min.js"></script>
<script src="/static/jquery-jsonview-1.2.3/jquery.jsonview.min.js"></script>
<link href="/static/jquery-jsonview-1.2.3/jquery.jsonview.min.css"rel="stylesheet" />

<style>
    html, body, #app {
        height: 100%;
    }

    .navbar {
        border-radius: 0px;
    }

    #page-content {
        height: calc(100% - 104px);
        overflow: auto;
    }

    .footer {
        border-top: 1px solid #ddd;
    }

    .nav-tabs a {
        color: #555;
    }

    .nav-tabs a:hover {
        color: #202020;
    }
</style>
{{end}}