{{define "head"}}
<meta charset="utf-8">
<title>Bootstrap 实例 - 一个简单的网页</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet">

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
<style>
    html, body, #app {
        height: 100%;
    }

    .navbar {
        border-radius: 0px;
    }

    #page-content {
        height: calc(100% - 104px);
        overflow: auto;
    }

    .footer {
        border-top: 1px solid #ddd;
    }
</style>
{{end}}