<!DOCTYPE html>
<html>
<head>
    {{template "head"}}
</head>
<body>
    {{template "nav"}}

    <div id="app">
        <div class="col-sm-5">
            <div class="job-list-head">
                <div class="input-group search-job-inputgroup">
                    <input type="text" class="form-control input-sm" placeholder="模糊搜索名称、描述" v-model="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button"
                                @click="jobsTable.params.search=search; jobsTable.params.page=1; href()">搜索</button>
                    </span>
                </div>
                <button class="btn btn-success btn-sm add-job-btn" @click="currAction='add'; currJob=null">添加</button>
            </div>
            <div class="panel panel-default job-list-panel">
                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>状态</th>
                            <th>描述</th>
                            <th>调度周期</th>
                            <th>联系人邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(row, idx) in jobsTable.data"
                            :key="idx"
                            @click="rowClick(row, idx)"
                            :class="currJob && currJob.id == row.id ? 'success' : ''"
                        >
                            <td>${idx + 1}</td>
                            <td>${row.name}</td>
                            <td>${row.status}</td>
                            <td>${row.description}</td>
                            <td>${row.spec}</td>
                            <td>${row.mailto}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="job-pagination">
                <div>
                    当前第${jobsTable.params.page}页，${jobsTable.data.length}条；共${Math.floor(jobsTable.total/Number(jobsTable.params.pageSize))+1}页，${jobsTable.total}条
                </div>
                <div>
                    <select class="form-control input-sm" v-model="jobsTable.params.pageSize" @change="jobsTable.params.page=1; href()">
                        <option v-for="size, idx in jobsTable.pageSizes" :key="idx" :value="size">${size}条/页</option>
                    </select>
                    <ul class="pagination pagination-sm">
                        <li v-if="jobsTable.params.page!=1"><a href="#" @click="jobsTable.params.page=1; href()"><i class="fa fa-angle-double-left fa-fw"></i></a></li>
                        <li v-else class="disabled"><a href="#"><i class="fa fa-angle-double-left fa-fw"></i></a></li>
                        <li v-if="jobsTable.params.page!=1"><a href="#" @click="jobsTable.params.page=Number(jobsTable.params.page)-1; href()"><i class="fa fa-angle-left fa-fw"></i></a></li>
                        <li v-else class="disabled"><a href="#"><i class="fa fa-angle-left fa-fw"></i></a></li>
                        <li class="active"><a href="#">${jobsTable.params.page}</a></li>
                        <li v-if="jobsTable.params.page!=Math.floor(jobsTable.total/Number(jobsTable.params.pageSize))+1"><a href="#" @click="jobsTable.params.page=Number(jobsTable.params.page)+1; href()"><i class="fa fa-angle-right fa-fw"></i></a></li>
                        <li v-else class="disabled"><a href="#"><i class="fa fa-angle-right fa-fw"></i></a></li>
                        <li v-if="jobsTable.params.page!=Math.floor(jobsTable.total/Number(jobsTable.params.pageSize))+1"><a href="#" @click="jobsTable.params.page=Math.floor(jobsTable.total/Number(jobsTable.params.pageSize))+1; href()"><i class="fa fa-angle-double-right fa-fw"></i></a></li>
                        <li v-else class="disabled"><a href="#"><i class="fa fa-angle-double-right fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <ul v-if="currJob" class="nav nav-tabs job-manage-nav">
                <li :class="currAction=='info' ? 'active' : ''" @click="currAction='info'">
                    <a href="#">信息</a>
                </li>
                <li :class="currAction=='update' ? 'active' : ''" @click="currAction='update'">
                    <a href="#">编辑</a>
                </li>
                <li :class="currAction=='delete' ? 'active' : ''" @click="currAction='delete'">
                    <a href="#">删除</a>
                </li>
                <li :class="currAction=='cmd' ? 'active' : ''" @click="currAction='cmd'">
                    <a href="#">执行</a>
                </li>
                <li :class="currAction=='cmdRecord' ? 'active' : ''" @click="currAction='cmdRecord'">
                    <a href="#">执行记录</a>
                </li>
            </ul>
            <ul v-else class="nav nav-tabs job-manage-nav">
                <li :class="currAction=='add' ? 'active' : ''" @click="currAction='add'">
                    <a href="#">添加</a>
                </li>
            </ul>

            <!-- job 详情 -->
            <div v-if="currAction=='info'" class="job-manage-body">
                <table class="table table-bordered">
                    <thead>
                        <tr><th colspan="2">基本信息</th></tr>
                    </thead>
                    <tbody>
                        <tr><td style="width: 90px">名称</td><td>${currJob.name}</td></tr>
                        <tr><td>描述</td><td>${currJob.description}</td></tr>
                        <tr><td>状态</td><td>${currJob.status}</td></tr>
                        <tr><td>主机</td><td>${currJob.hosts}</td></tr>
                        <tr><td>系统用户</td><td>${currJob.sysuser}</td></tr>
                        <tr><td>联系人</td><td>${currJob.mailto}</td></tr>
                        <tr><td>调度</td><td>${currJob.spec}</td></tr>
                        <tr><td>内容</td><td>${currJob.content}</td></tr>
                        <tr><td>创建时间</td><td>${currJob.created}</td></tr>
                        <tr><td>最近更新时间</td><td>${currJob.updated}</td></tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr><th colspan="2">任务信息</th></tr>
                    </thead>
                    <tbody>
                        <tr><td style="width: 90px">Cron文件</td><td>${currJob.name}</td></tr>
                        <tr><td>脚本文件</td><td>${currJob.description}</td></tr>
                        <tr><td>输出文件</td><td>${currJob.status}</td></tr>
                    </tbody>
                </table>
            </div>
            <div v-if="currAction=='update' || currAction=='add'" class="job-manage-body">
                <form role="form" v-model="addOrUpdateForm">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input v-model="addOrUpdateForm.name" type="text" class="form-control" placeholder="请输入任务名称，小写字母下划线组合">
                        <span class="errMsg">${addOrUpdateFormError.name || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="status">状态</label>
                        <div>
                            <label class="radio-inline">
                                <input v-model="addOrUpdateForm.status" type="radio" name="status" value="enabled" checked> 启用
                            </label>
                            <label class="radio-inline">
                                <input v-model="addOrUpdateForm.status" type="radio" name="status" value="disabled"> 禁用
                            </label>
                        </div>
                        <span class="errMsg">${addOrUpdateFormError.status || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="description">描述</label>
                        <input v-model="addOrUpdateForm.description" type="text" class="form-control" placeholder="请输入任务描述">
                        <span class="errMsg">${addOrUpdateFormError.description || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="hosts">主机</label>
                        <textarea v-model="addOrUpdateForm.hosts" class="form-control" rows="5" placeholder="请输入任务主机，换行添加多主机"></textarea>
                        <span class="errMsg">${addOrUpdateFormError.hosts || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="mailto">联系人邮箱</label>
                        <input v-model="addOrUpdateForm.mailto" type="text" class="form-control" placeholder="请输入联系人邮箱">
                        <span class="errMsg">${addOrUpdateFormError.mailto || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="sysuser">系统用户</label>
                        <input v-model="addOrUpdateForm.sysuser" type="text" class="form-control" placeholder="请输入任务的系统用户">
                        <span class="errMsg">${addOrUpdateFormError.sysuser || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="spec">调度</label>
                        <input v-model="addOrUpdateForm.spec" type="text" class="form-control" placeholder="请输入任务调度 例：* * * * *">
                        <span class="errMsg">${addOrUpdateFormError.spec || ""}</span>
                    </div>
                    <div class="form-group">
                        <label for="content">脚本内容</label>
                        <textarea v-model="addOrUpdateForm.content" class="form-control" rows="5" placeholder="请输入任务运行脚本内容"></textarea>
                        <span class="errMsg">${addOrUpdateFormError.content || ""}</span>
                    </div>
                    <div class="form-group">
                        <button @click="submitAddOrUpdate(currAction)" type="button" class="btn btn-default">提交</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="submittingModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="submittingModalLabel">
            <div class="modal-dialog">
                <div>${submitting}</div>
            </div>
        </div>
    </div>

    {{template "footer"}}
</body>
<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            jobsTable: {
                params: {
                    search: "",
                    page: 1,
                    pageSize: 10,
                },
                data: [],
                total: 0,
                pageSizes: [5, 10, 20, 50, 100]
            },
            currJob: null,
            currJobRowIdx: null,
            currAction: 'add',
            addOrUpdateForm: {
                name: "",
                status: "enabled",
                description: "",
                mailto: "",
                sysuser: "",
                spec: "",
                content: "",
                hosts: ""
            },
            addOrUpdateFormError: {},
            submitting: "",
            search: "",
        },
        watch: {
            currAction: function (n, o) {
                if (n == "update") {
                    this.addOrUpdateForm = {
                        name: this.currJob.name,
                        status: this.currJob.status,
                        description: this.currJob.description,
                        mailto: this.currJob.mailto,
                        sysuser: this.currJob.sysuser,
                        spec: this.currJob.spec,
                        content: this.currJob.content,
                        hosts: (this.currJob.hosts && this.currJob.hosts.constructor==Array ?
                                this.currJob.hosts.join("\n") : this.currJob.hosts) || ""
                    }
                }

                this.addOrUpdateFormError = {};
            },
            submitting: function (n, o) {
                if (n != null && n != "") {
                    $("#submittingModal").modal('show')
                } else {
                    $("#submittingModal").modal('hide')
                }
            }
        },
        mounted: function () {
            this.setParams();
            this.getJobs();
        },
        methods: {
            href: function() {
                let params = [];
                for (let k in this.jobsTable.params) {
                    if (this.jobsTable.params[k]) {
                        params.push(k+"="+this.jobsTable.params[k])
                    }
                }
                window.location.href = "/html/jobs/?" + params.join("&")
            },

            setParams: function() {
                for (let k in this.jobsTable.params) {
                    let v = this.getQueryVariable(k);
                    if (v) {
                        this.jobsTable.params[k] = v;
                    }
                }
            },

            getJobs: function () {
                console.log("getJobs")
                let _this = this;
                axios.get('/api/jobs/', {params: this.jobsTable.params})
                .then(function(resp){
                    _this.jobsTable.data = resp.data.data;
                    _this.jobsTable.total = resp.data.total;
                })
            },
            rowClick: function (row, rowIdx) {
                this.currJob = row;
                this.currJobRowIdx = rowIdx;
                this.currAction = 'info';
            },

            submitAddOrUpdate: function (action) {
                let data = {
                    name: this.addOrUpdateForm.name,
                    status: this.addOrUpdateForm.status,
                    description: this.addOrUpdateForm.description,
                    mailto: this.addOrUpdateForm.mailto,
                    sysuser: this.addOrUpdateForm.sysuser,
                    spec: this.addOrUpdateForm.spec,
                    content: this.addOrUpdateForm.content,
                    hosts: this.addOrUpdateForm.hosts.split("\n")
                }
                let req = (action == "add" ? axios.post : axios.put);
                let uri = (action == "add" ? "/api/jobs/" : ("/api/jobs/" + this.currJob.id + "/"));
                let _this = this;
                this.submitting = "正在提交任务...";
                req(uri, data)
                .then(function(resp){
                    _this.submitting = null;
                    _this.currJob = resp.data.data;
                    if (action == 'add') {
                        _this.jobsTable.data.unshift(resp.data.data);
                        _this.currJobRowIdx = 0;
                    } else {
                        _this.$set(_this.jobsTable.data, _this.currJobRowIdx, resp.data.data)
                    }
                })
                .catch(function(error){
                    _this.submitting = null;
                    if (error.response && error.response.status == 400) {
                        _this.addOrUpdateFormError = error.response.data.error;
                    };
                });
            },
            getQueryVariable: function (variable) {
                let query = window.location.search.substring(1);
                let vars = query.split("&");
                for (let i=0;i<vars.length;i++) {
                    let pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return false;
            }
        }
    })
</script>
<style>
    #app div:first-child {
        overflow: auto;
    }

    #app table:first-child td, #app table:first-child th {
        word-break: keep-all;
        white-space:nowrap;
    }

    #app div:first-child tbody tr {
        cursor: pointer;
    }

    #app > div {
        height: calc(100% - 15px);
    }

    .job-manage-nav {
        margin-bottom: 10px;
    }

    .job-manage-body {
        height: calc(100% - 50px);
        overflow: auto;
        padding: 5px;
    }

    .errMsg {
        color: orange;
        font-size: 12px;
    }

    .search-job-inputgroup {
        width: 50%; float: left
    }

    .add-job-btn {
        float: right
    }

    .job-list-head {
        margin-bottom: 10px
    }

    .job-list-panel {
        max-height: calc(100% - 90px); overflow: auto
    }

    #submittingModal > div > div {
        font-size: 20px;
        color: #fff;
        text-align: center;
        margin-top: 100pt
    }

    .pagination {
        margin: 0px !important;
    }

    .job-pagination > div:first-child {
        float: left;
    }

    .job-pagination > div:last-child {
        float: right;
    }

    .job-pagination > div:last-child > select {
        float: left;
        width: 70px !important;
        margin-right: 5px;
    }

    .job-pagination > div:last-child > ul {
        float: right;
    }
</style>
</html>