{{define "nav"}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cronnest</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li :class="pageName=='job' ? 'active' : ''"><a href="/html/jobs/">计划任务</a></li>
                <li :class="pageName=='host' ? 'active' : ''"><a href="/html/hosts/">主机视图</a></li>
                <li :class="pageName=='operationRecord' ? 'active' : ''"><a href="/html/operation_records/">操作记录</a></li>

                <li style="float: right"><a href="#">{{ .user }}</a></li>
            </ul>
        </div>
    </div>
</nav>
{{end}}